<template name="header">
	<!-- HEADER -->
	<header class="navbar clearfix header-kep" id="header">
		<div class="container">
			<div class="navbar-brand">
				<!-- COMPANY LOGO -->
				<a href="/">
					<img src="/img/logo/1.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
				</a>
				<!-- /COMPANY LOGO -->
			</div>
			<!-- {{> navbarleft }} -->
			{{> status }}
		</div>
	</header>
</template>

<template name="navbarleft">
			<!-- NAVBAR LEFT -->
			<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
				<li class="dropdown">
					<a href="/" class="team-status-toggle dropdown-toggle tip-bottom">
						<span class="name">后台管理系统</span>
					</a>
				</li>
			</ul>
			<!-- /NAVBAR LEFT -->	
</template>


<template name="status">   
	<!-- BEGIN TOP NAVIGATION MENU -->					
	<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user pull-right" id="header-user" style="margin-right:60px;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img alt="userPic" src="/img/person/man30.png" />
						<span class="username">{{currentUser.username}}Alex Kaser</span>
						<i class="fa fa-angle-down"></i>
					</a>
				<ul class="dropdown-menu">
					{{> dropdownMenu}}
             	<!-- 	<li>
             			<a href='/console/account'><i class="fa fa-user"></i>个人信息</a>
             		</li>
					<li>
						<a href="#" id='a-logout'><i class="fa fa-power-off"></i>登出</a>
					</li> -->
				</ul>
			</li>
	<!-- END USER LOGIN DROPDOWN -->
	</ul>		
</template>

<template name="dropdownMenu">
	<li>
		<img alt="userPic" src="/img/windy/windy.jpg" />
		<p>{{currentUser.username}}Alex Kaser</p>
		<time datetime="2011-01-12">January 12th, 2011</time>
	</li>
	<li>
		<button class="btn btn-default" id="a-logout"><i class="fa fa-power-off"></i>登出</button>
		<a href='/console/account' class="btn btn-default"><i class="fa fa-user"></i>个人信息</a>
		<!-- <a href="#" id='a-logout'><i class="fa fa-power-off"></i>登出</a> -->
		<!-- <a href='/console/account'><i class="fa fa-user"></i>个人信息</a> -->
	</li>
</template>