.main-sidebar{
	background-color: #666666;
	width: 250px !important;
	padding-top: 12px !important;
	.sidebar{
		background-color: #666666 !important;
		.user-panel{
			
		}
		.sidebar-menu{
			.treeview{
				border-top: 2px solid #8c8c8c;
				&:last-child{
					border-bottom:2px solid #8c8c8c;
				}
				a{
					color: #fff;
					padding: 20px 15px;
					span{
						margin-left: 50px;
						i{
							margin-right: 8px;
						}
						font-size: 17px;
					}
				}
			}
		}
	}
}