.center{
	text-align: center;
}
.border-all{
	border: 1px solid #3962E1;
}
.border-bottom{
	border-bottom: 1px solid #b2b2b2;
}
.border-bottom-none{
	border-bottom-width: 0;
}
.clearfix{
	clear: both;
}
.th-rowspan{
	font-size: 16px;
}
.circle{
	border: 1px solid #2D2828;
	border-radius: 50%;
	margin:auto;
	margin-top: 28px;
	margin-bottom: 12px;
	width: 20px;
	height: 20px;
	color: red;
}
.circle-red{
	background-color: #EC1F1F;
}
.circle-green{
	background-color: #39E85C;
}
.circle-gray{
	background-color: #8A8D85;
}

.margin-top{
	margin-top: 8px;
}
.margin-top-bottom{
	margin-top: 40px;
	margin-bottom: 30px;
}

.margin-bottom{
	margin-bottom: 15px;
}
.margin-left{
	margin-left: 15px;
}
.padding-both{
	padding-left: 15px;
	padding-right: 15px;
}
.add_email{
	margin-bottom: 16px;
}
.display_none{
	display: none;
}

.font-weight{
	font-weight: 600;
}

.line-height{
	line-height: 30px;
}

.line-height-more{
	line-height: 50px;
}
.remark-margin-style{
	margin-left: 15px;
	margin-right: -23px;
}

