<!-- 客户基本信息 -->
<template name="customer_info">
  <!-- 主要内容 -->
  <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <div class="container">
                    <div class="row" style="margin-bottom: 30px;">
                      <div class="col-md-4 content-title">
                        <p>客户管理-基本资料</p>
                      </div>
                    </div>
                  <!-- ORDERS -->
                  <div class="row">
                      <div class="col-md-12">
                          <div class="container basic_info_container">
                              <!-- 客户基本资料 -->
                              {{> customerBasicInfo}}
                              <!-- 客户受理业务 -->
                              {{> customerService}}
                          </div>
                      </div>
                  </div>
                  <!-- /ORDERS -->
              </div>
            </div>
            <!-- /CONTENT-->
        </div>
  </div>
</template>


<!-- 客户基本资料 -->
<template name="customerBasicInfo">
  {{#autoForm collection="Customers" id="updateCustomer" doc=customerInfo}}
    <fieldset>
        <div class="row border-bottom margin-top">
            <div class="col-md-4">
                {{> afQuickField name='name' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
            </div>
            <div class="col-md-4">
                {{> afQuickField name='host.id' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
            </div>
            <div class="col-md-4">
                {{> afQuickField name='createdAt' template="bootstrap3-horizontal" readonly=true label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
            </div>
        </div>
        <div class="row border-bottom margin-top">
            <div class="" style="padding-left: 14px;">
                <p class="padding-both font-weight">联系客户</p>
            </div>
            <div class="col-md-6 contact-customer margin-bottom">
                <div class="line-height">
                    {{> afQuickField name='contactInfo.name' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                    {{> afQuickField name='contactInfo.phone' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                    {{> afQuickField name='contactInfo.email' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                    {{> afQuickField name='contactInfo.address' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                </div>
            </div>
        </div>
        <div class="row border-bottom margin-top">
            <div class="col-md-4">
                {{> afQuickField name='from' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
            </div>
        </div>
        <div class="row border-bottom margin-top">
            {{> afQuickField name='remark' value=remarkInfo template="bootstrap3-horizontal" class='border-bottom' label-class="col-md-4 padding-both line-height-more remark-margin-style" input-col-class="col-md-8 padding-left-textarea" rows=3 }}
        </div>
    </fieldset>

    <div class="row margin-top">
      <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-lg pull-right" style="width: 175px">保存</button>
      </div>
    </div>
  {{/autoForm}}
</template>


<!-- 客户受理业务 -->
<template name="customerService">
  <div class="row margin-top section-division-full">
      <div class="col-md-6 pull-left">
          <p class="margin-top">受理业务</p>
      </div>
      <div class="col-md-6">
          <button class="btn btn-info pull-right" data-toggle="modal" data-target="#service_accept"><i class="fa fa-plus"></i>添加受理业务</button>
      </div>
  </div>

  {{#each service}}
    {{> serviceInfo serviceId=this._id}}
  {{/each}}

  <!-- 添加受理业务模态框 -->
  <div class="modal fade"  id="service_accept" tabindex="-1" role="dialog" aria-labelledby="service_accept_title">
       <div class="modal-dialog modal-lg" role="document">
        {{> service_accept }}
       </div>
  </div>

  <!-- 设置按钮模态框 -->
   <div class="modal fade"  id="service_setting" tabindex="-1" role="dialog" aria-labelledby="service_setting_title">
       <div class="modal-dialog modal-lg" role="document">
        {{> service_setting}}
       </div>
  </div>
  <!-- 删除按钮模态框 -->
  <div class="modal fade"  id="service_delete" tabindex="-1" role="dialog" aria-labelledby="service_delete_title">
    <div class="modal-dialog modal-lg" role="document">
     {{> service_delete }}
    </div>
  </div>
</template>


<!-- 客户受理业务信息 -->
<template name="serviceInfo">
  <div class="row serviceInfoTable">
    <div class="col-md-3">
      <div class="serviceInfoTable_Button">
        <p>{{serInfo.label}}</p>
      </div>
      <div>
        <p>负责人:{{serInfo.host.name}}</p>
      </div>
      <div >
          <button class="btn btn-default" data-toggle="modal" data-serviceid="{{serInfo._id}}" data-target="#service_setting">设置</button>
          <button class="btn btn-danger" data-toggle="modal" data-serviceid="{{serInfo._id}}" data-servicename="{{serInfo.label}}" data-target="#service_delete">删除</button>
      </div>
    </div>
    <div class="col-md-9 tableOverflow">
      <table class="table table1 table-bordered margin-top">
          <tbody>
              {{#each tasks serInfo._id}}
                {{>serviceInfoChildTable}}
              {{/each}}
          </tbody>
      </table>
    </div>
  </div>
</template>

<!-- 受理业务子任务表 -->
<template name="serviceInfoChildTable">
  <tr class="trtable">
      <td>子任务：{{this.label}}</td>
      <td colspan="2">状态：{{this.stepStatus}}</td>
      <td rowspan="2">
          <a class="btn btn-info taskDetail" href="{{goToTask name _id}}">详细</a>
      </td>
  </tr>
  <tr style="margin-bottom: 10px;">
      <td colspan="3">负责人：{{this.host.name}} 创建时间：{{this.createdAtLabel}} 最后更新时间：{{this.updateTimeLabel}}</td>
  </tr>
</template>






<!-- 添加受理业务模态框 -->
<template name="service_accept">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="service_accept_title">添加受理业务</h4>
    </div>
    <div class="modal-body">
       {{#autoForm collection="Service" id="insertService" doc=serviceDoc}}
           <fieldset>
               <div class="container">
                   {{> afQuickField name='type' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                   {{> afQuickField name='host.id' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
                   {{> afQuickField name='payed' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
               </div>
           </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
     {{/autoForm}}
    </div>
  </div>
</template>


<!-- 设置受理业务模态框 -->
<template name="service_setting">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="service_setting_title">受理业务设置</h4>
    </div>
    <div class="modal-body">
       {{#autoForm collection="Service" id="updateService" doc=serviceDoc}}
           <fieldset>
               <div class="container">
                   {{> afQuickField name='host.id' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
                   {{> afQuickField name='payed' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8"}}
               </div>
           </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
      {{/autoForm}}
    </div>
  </div>
</template>


<!-- 受理业务删除模态框 -->
<template name="service_delete">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="service_delete_title">警告</h4>
    </div>
    <div class="modal-body">
      <h3 id="deleteServiceMsg"></h3>
      <h4>注意: 若确认删除该业务，则该业务下的所有子任务将全部废弃</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" id="deleteServiceBtn">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
  </div>
</template>
