<template name="customers">
    <!-- 主要内容 -->
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                {{> breadcrumb_customers }}
                <!-- ORDERS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- {{> containsTheDataTable }} -->
                        {{> customers_register}}
                    </div>
                </div>
                <!-- /ORDERS -->
            </div>
            <!-- /CONTENT-->
        </div>
    </div>
</template>


<!-- 内部导航栏 -->
<template name="breadcrumb_customers">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4 content-title">
                <p>客户管理-公司注册</p>
            </div>
            <div class="col-md-8">
                <div class="form-inline pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#customers_add" style="margin-right:25px;width: 120px"><i class="fa fa-plus" aria-hidden="true"></i>添加客户</button>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn btn-default" type="submit">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加客户模态框 -->
    <div class="modal fade" id="customers_add" tabindex="-1" role="dialog" aria-labelledby="customers_add_title">
        <div class="modal-dialog modal-lg" role="document">
            {{> customers_add }}
        </div>
    </div>
</template>


<!-- 公司注册表 -->
<template name="customers_register">
    <table id="customers_register_table" class="table table-bordered">
        <thead>
            <tr>
                <th>客户名称</th>
                <th>状态</th>
                <th>收费</th>
                <th>负责人</th>
                <th>创建时间</th>
                <th colspan="2">操作</th>
            </tr>
        </thead>
        <tbody>
            {{#each customers}} {{> customerTableCell}} {{/each}}
        </tbody>
    </table>
    <!-- customers_delete 设置删除模态框 -->
    <div class="modal fade" id="customers_delete" tabindex="-1" role="dialog" aria-labelledby="customers_delete_title">
        {{> customers_delete }}
    </div>
</template>


<template name="customerTableCell">
    <tr>
        <td>{{name}}</td>
        <td>{{statusLabel}}</td>
        <td>{{payLabel}}</td>
        <td>{{host.name}}</td>
        <td>{{createdTime}}</td>
        <td>
            <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#progress_control"><a href="{{managePath}}">客户管理</a></button>
            <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#config"><a href="{{companyInfoPath}}">公司资料</a></button>
        </td>
        <td>
            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customers_delete" data-customerid="{{_id}}" data-customername="{{name}}">删除</button>
        </td>
    </tr>
</template>

<!-- 删除按钮-模态框 -->
<template name="customers_delete">
    <!-- Modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="customers_delete_title">警告</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <h3 id="deleteMsg"></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteCustomerBtn">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</template>

<!-- 添加客户模态框 -->
<template name="customers_add">
    <!-- Modal -->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="customers_add_title">创建客户</h4>
        </div>
        <div class="modal-body customers_add_autoform">
            {{> customers_add_autoform }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="addCustomerBtn">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</template>


<!-- 添加客户表单 -->
<template name="customers_add_autoform">
    <div class="row margin-top">
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">客户名称</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="customerName">
            </div>
        </div>
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height" style="width: 98px;">客户负责人</label>
            <div class="col-sm-8" style="width:100px;">
                <select id="hostId">
                    {{#each hosts}}
                        <option value="{{_id}}">{{username}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    <p class="section-division">客户联系方式:</p>
    <div class="row margin-top">
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">姓名</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="containerName">
            </div>
        </div>
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">电话</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="containerPhone">
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">电子邮箱</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="containerEmail">
            </div>
        </div>
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">通讯地址</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="containerAddress">
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-6">
            <label for="" class="col-sm-4 line-height">客户来源</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="customerFrom">
            </div>
        </div>
    </div>
    <p class="section-division">当前公司需办理的业务:</p>
    <div class="row margin-top">
        <div class="col-md-12 kepCheckbox2">
            <div class="checkbox">
                {{#each serviceInfo}}
                  <label>
                      <input type="checkbox" class="serviceSelect" value="{{name}}">{{label}}
                  </label>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-12">
            <label for="" class="col-sm-2 line-height">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="4" id="remark"></textarea>
            </div>
        </div>
    </div>
</template>
