<!-- 公司核名填写资料 -->
<template name="application_form">
    {{#if noData}}
        {{> application_form_edit}}
    {{else}}
        {{> application_form_preview data=this}}
    {{/if}}
</template>


<!-- 申请书预览 -->
<template name="application_form_preview">
    <h3 class="border-bottom">申请书 - 预览 {{this.data.name}}</h3>
    <div class="row margin-top-bottom">
        <div class="col-md-4">
            <button class="btn btn-success pull-right">确认完成</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-info center applicationEdit" value="application_form_edit" >编辑</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default pull-left">下载</button>
        </div>
    </div>
</template>


<!--  公司核名申请书编辑-表单  -->
<template name="application_form_edit">
    <div class="row grey-container border-bottom">
        <button class="btn btn-danger pull-right goldweapon-btn">一企查-企业核名神器</button>
    </div>
    {{#autoForm collection="TempStruct" id="insertCompanyInfoForm"}}
        <fieldset>
            <!-- 企业字号 -->
           <div class="row border-bottom margin-top paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.nativeName' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
           <!-- 备选字号 -->
           <div class="row border-bottom paddingEight">
              <div class="col-md-8">
                <div class="col-sm-4 line-height">
                   <label for="col-sm-4 line-height">备选字号</label>
                </div>
                <div class="col-sm-8" id="drag-area">
                  <!-- <div class="margin-bottom">
                    <input type="text" class="form-contrl">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i></button>
                  </div> -->
                  {{> reserveWord }}
                  {{> reserveWord }}
                  {{> reserveWord }}
                </div>
              </div>
           </div>
           <!-- 添加按钮 -->
           <div class="row border-bottom paddingEight">
             <button class="btn btn-success center plusbtn"><i class="fa fa-plus fa-lg"></i></button>
           </div>
           <!-- 企业类型 注册区域 行业类型 -->
           <div class="row paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.type' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
            <div class="row paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.zone' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
            <div class="row border-bottom paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.industryType' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
           <!-- 名称结构 -->
            <div class="row border-bottom paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.nameStruct' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
                 <textarea style="margin-right: 13px;width: 63%;" class="form-control pull-right" rows="3"></textarea>
               </div>
           </div>
           <!-- 经营范围 -->
           <div class="row border-bottom paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.businessScope' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
           <!-- 公司地址 -->
           <div class="row border-bottom paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='company.address' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
           <!-- 公司股东 -->
            <div class="row border-bottom paddingEight">
               <div class="col-md-8">
                 {{> afQuickField name='holders' template="bootstrap3-horizontal" label-class="col-sm-4 line-height" input-col-class="col-sm-8" }}
               </div>
           </div>
           <!-- 添加按钮 -->
<!--            <div class="row border-bottom paddingEight">
               <button class="btn btn-success center plusbtn"><i class="fa fa-plus fa-lg"></i></button>
           </div> -->
        </fieldset>

        <div class="row margin-top-bottom">
            <div class="col-md-6">
                <!-- <button type="submit" class="btn btn-success pull-right">保存</button> -->
                <button type="submit" class="btn btn-primary">新建</button>
            </div>
            <!-- <div class="col-md-6">
                <button class="btn btn-default pull-left">取消</button>
            </div> -->
        </div>
    {{/autoForm}}
    <!-- 一企查神器 -->
    <div class="container border-all-grey goldweapon pull-right" id="goldweapon">
        {{> goldweapon }}
    </div>
</template>
