.writedata-title{
	background-color: @title_color;
	padding: 5px;
	p{
		margin-bottom: 0;
		margin-top: 5px;
		font-size: 18px;
		.font-weight;
		color: @normal_white;
	}
	button{width: 177px;}
}
.grey-container{
	background-color: @normal_grey;
	padding: 5px;
}


.plusbtn{
	width: 150px;
}