.section-division{
	padding: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 14px;
	margin-left: -20px;
	width: 598px;
	background-color: #eaeaea;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
}
.section-division-full{
	padding: 12px;
	font-weight: bold;
	background-color: #eaeaea;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
}
.holders-info-full{
	padding: 8px;
	height: 35px;
	width: 100%;
	font-weight: bold;
	background-color: #eaeaea;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
}



.business{
	label{
		
	}
}
.label_style{
	margin-right: 26px;
}

.basic_info_container{
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color:#FFFFFF;
}

.basic_info_container_label{
	
}

.contact-customer{
	margin-left: -40px;
	border-radius:5px;
	background-color: #f8f8f8;
}