.goldweapon-btn{
	margin-right: 15px;
	width: 177px;
}
.goldweapon{
	// margin-top: -3px;
	margin-right: -362px;
	background-color:@normal_white;
	max-width: 327px;
	min-height: 457px;
	border:1px solid @normal_grey;
	position: absolute;
	right: 15px;
	top: 89px;
	z-index:3;
	// .showAnima;
	.searchName{
		width: 260px;
	}
	input{
		// max-width: 0px;
		// .showAnima;
	}
}
.search-count{
	p{
		color:@normal_red;
	}
	line-height: 38px;
	border-top:1px solid @border_grey;
	border-bottom:1px solid @border_grey;
	background-color: @normal_grey;
	height: 39px;
}
.weight-p{
	font-size:20px;
	font-weight: 600;
}

.showAnima{
	transition:max-width 2s;
	-moz-transition:max-width 2s; /* Firefox 4 */
	-webkit-transition:max-width 2s; /* Safari and Chrome */
	-o-transition:max-width 2s; /* Opera */
}

@media (min-width:1919px){
	.goldweapon{
		margin-top: -3px !important;
	}
}

.yiqichaWin-table{
	overflow-y: auto;
	max-height: 479px;
}