.content-title p{
	font-size: 20px;
	font-weight: bold;
	line-height: 0px;
}
.add_email{
	margin-bottom: 16px;
}
.add_tel{
	margin-bottom: 16px;
}

#workbench_ICBCregister_table{
	border-color: #b2b2b2 !important;
	th{
		text-align: center !important;
		background-color: #eaeaea;
		color: #666666;
	}
}

#workbench_checkname_table{
	border-color: #b2b2b2 !important;
	th{
		text-align: center !important;
		background-color: #eaeaea;
		color: #666666;
	}
}