<template name="workbench">
    <div id="taskConfig">
    </div>
    <!-- 主要内容 -->
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                {{> breadcrumb_workbench }}
                <!-- ORDERS -->
                <div class="row">
                    <div class="col-md-12">
                        {{> reactiveDataTable}}
                    </div>
                </div>
                <!-- /ORDERS -->
            </div>
            <!-- /CONTENT-->
        </div>
    </div>
</template>
<!-- 内部导航栏 -->
<template name="breadcrumb_workbench">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4 content-title">
                <p>工作台</p>
            </div>
            <div class="col-md-4 workbench_change_btn">
                {{#each $mapped tasks}}
                <div class="col-sm-6">
                    <button type="button" class="btn btn-info btn-sm {{#if $first}}letter-spacing{{/if}}" value="{{name}}">{{label}}</button>
                </div>
                {{/each}}
            </div>
            <div class="col-md-4 workbench_search">
                <div class="form-inline pull-right">
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn btn-success" type="submit">搜索</button>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- datatable reactive -->
<template name="reactiveDataTable">
    <!-- {{>Template.dynamic template=workbench_table}} -->
    {{> Template.dynamic template=templateInfo.template data=templateInfo}}
    <!-- progress control 办理进度控制 模态框 -->
    <div class="modal fade" id="progress_control" tabindex="-1" role="dialog" aria-labelledby="progress_control_title">
        {{> workbench_progress_control}}
    </div>
    <!-- config 设置模态框 -->
    <!-- <div class="modal fade" id="config" tabindex="-1" role="dialog" aria-labelledby="config_title"> -->
        <!-- {{> workbench_config}} -->
    <!-- </div> -->

    <!-- <div id="taskConfig">
    </div> -->

</template>
<!-- 核名表 -->
<template name="workbench_checkname">
    <table id="workbench_checkname_table" class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2" class="thgrey">客户名称</th>
                <th colspan="6" class="thdeepgrey">办理进度</th>
                <th rowspan="2" class="thgrey">耗时/天</th>
                <th rowspan="2" class="thgrey">业务员</th>
                <th rowspan="2" class="thgrey">操作</th>
            </tr>
            <tr>
                {{#each this.stepsDes}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.taskData }} {{> checknameTableCell }} {{/each}}
        </tbody>
    </table>

    {{> paginator }}
</template>
<template name="checknameTableCell">
    <tr>
        <td class="checknameTableCellTd"><a href="{{goToCompanyInfo customerId}}">{{customerName}}</a></td>
        {{#each steps}}
        <td>
            <div class="circle {{stepStatusShow this}}"></div>{{stepTimeUsed this}}</td>
        {{/each}}
        <td class="checknameTableCellTd">{{totalTimeUsed this}}</td>
        <td class="checknameTableCellTd">{{host.name}}</td>
        <td>
            <div style="margin-bottom: 9px">
                <button class="btn btn-default btn-sm" data-toggle="modal" data-taskid="{{_id}}" data-serviceid="{{serviceId}}" data-customerid="{{customerId}}" data-target="#progress_control">办理进度控制</button>
            </div>
            <!-- <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#config" data-taskid="{{_id}}">设置</button> -->
            <a class="btn btn-info btn-sm taskSetting" value="{{_id}}">设置</a>
            <a class="btn btn-info btn-sm" href="{{goToTask name _id}}">查看</a>
        </td>
    </tr>
</template>
<!-- 工商登记表 -->
<template name="workbench_ICBCregister">
    <table id="workbench_ICBCregister_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th rowspan="2" class="thgrey">客户名称</th>
                <th rowspan="2" class="thgrey">公司名称</th>
                <th colspan="4" class="thdeepgrey">办理进度</th>
                <th rowspan="2" class="thgrey">耗时/天</th>
                <th rowspan="2" class="thgrey">业务员</th>
                <th rowspan="2" class="thgrey">操作</th>
            </tr>
            <tr>
                {{#each this.stepsDes}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.taskData }} {{> registerTableCell }} {{/each}}
        </tbody>
    </table>
    {{> paginator }}
</template>
<template name="registerTableCell">
    <tr>
        <td class="checknameTableCellTd"><a href="{{goToCompanyInfo customerId}}">{{customerName}}</a></td>
        <td class="checknameTableCellTd">{{companyName}}</td>
        {{#each steps}}
        <td>
            <div class="circle {{stepStatusShow this}}"></div>{{stepTimeUsed this}}</td>
        {{/each}}
        <td class="checknameTableCellTd">{{totalTimeUsed this}}</td>
        <td class="checknameTableCellTd">{{host.name}}</td>
        <td>
            <div style="margin-bottom: 9px">
                <button class="btn btn-default btn-sm" data-toggle="modal" data-taskid="{{_id}}" data-target="#progress_control">办理进度控制</button>
            </div>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#config" data-taskid="{{_id}}">设置</button>
            <a class="btn btn-info btn-sm" href="{{goToTask name _id}}">查看</a>
        </td>
    </tr>
</template>
<!-- setting progress_control -->
<template name="workbench_progress_control">
    <!-- Modal -->
    <div class="modal-dialog" style="width: 930px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="progress_control_title">办理进度控制<span style="font-size: 13px;">{{customerName}}-{{serviceName}}-{{taskName}}</span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="progress_reset" class="col-sm-2 control-label">进度回退:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="progress_reset">
                                {{#each stepsBack}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="progress_reason" class="col-sm-2 control-label">原因:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="progress_reason">
                                {{#each stepBackReason}}
                                <option value="{{name}}">{{label}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="progress_remarks" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="progress_remarks" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="progress_clear" class="col-sm-2 control-label">是否清空子任务信息:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="progress_clear">
                                <option value="false">否</option>
                                <option value="true">是</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="progressChaBtn">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</template>
<!-- modal config template -->
<template name="workbench_config">
    <!-- Modal -->
    <div class="modal-dialog" role="dialog" id="config">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="config_title">子任务设置</h4>
                <form class="form-horizontal">
                    <div class="form-group margin-top-bottom">
                        <label for="principal" class="col-sm-2 control-label">负责人</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="hostId">
                                {{#each hosts}}
                                <option value="{{_id}}" {{hostNow _id}}>{{username}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </form>
                <h4 class="pull-left">通知提醒</h4>
            </div>
            <!-- 邮箱通知 -->
            <div class="modal-body" style="border-bottom: 1px solid #cccccc;">
                <div class="modal-body-head">
                    <span class="pull-left label label-default label-lg">邮箱通知</span>
                    <button id="add_email_btn" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                </div>
                <form class="form-inline" style="margin-top: 80px" id="add_email_form">
                    {{#each taskInfo.remind.email}} {{> add_email}} {{/each}}
                </form>
            </div>
            <!-- 短信通知 -->
            <div class="modal-body">
                <div class="modal-body-head">
                    <span class="pull-left label label-default label-lg">短信通知</span>
                    <button id="add_tel_btn" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                </div>
                <form class="form-inline" id="add_tel_form" style="margin-top: 80px">
                    {{#each taskInfo.remind.sms}} {{> add_tel}} {{/each}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="settingBtn">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</template>
<!-- 邮箱添加模版 -->
<template name="add_email">
    <div class="module add_email">
        <div class="form-group">
            <label for="telephone">电子邮箱：</label>
            <input type="text" class="form-control remindTo" value="{{to}}">
        </div>
        <div class="form-group">
            <label for="remarks">备注：</label>
            <input type="email" class="form-control remindRemark" value="{{remark}}" placeholder="(选填)">
        </div>
        <button type="submit" class="btn btn-default delRemind"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</template>
<!-- 短信添加模版 -->
<template name="add_tel">
    <div class="module add_tel">
        <div class="form-group">
            <label for="telephone">手机号：</label>
            <input type="text" class="form-control remindTo" value="{{to}}">
        </div>
        <div class="form-group">
            <label for="remarks">备注：</label>
            <input type="email" class="form-control remindRemark" value="{{remark}}" placeholder="(选填)">
        </div>
        <button type="submit" class="btn btn-default delRemind"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</template>
<!-- autoform -->

<template name="insertBookForm">
    {{#autoForm collection="Customers" type="insert" id="reactiveCurrentValueForm" template="bootstrap3-inline"}} {{> afQuickField name="principal" options="allowed"}} {{> afQuickField name="email"}} {{/autoForm}}
</template>

<!-- 分页模版 -->
<template name="paginator">
    <div class="pagination-div pull-right">
        <p id="text"></p>
        <ul id="paginator" class="pagination">
        </ul>
    </div>
</template>
